#fenix-wrapper {
    position: fixed;
    width: 9%;
    top: 0;
    left: 0;
    transition: all 1.2s ease-in-out;
    z-index: 999;
}
#fenix{
    width: 9%;
    animation: idleFlap 3s infinite ease-in-out;
    transition: transform 0.8s ease-in-out;
}
#section0{
    padding-top: 10%;
    text-align: center;
}
#mtl{
    font-size: 100px;
}
#frase{
    font-style: italic;
    font-size: 17px;
}
.infos{
    margin-left: 7%;
    margin-top: 10%;
    width: 600px;
}
.infos_t{
    font-size: 30px;
}
.infos_p{
    font-size: 20px;
}
.infos2{
    text-align: right;
    margin-left: 58%;
    margin-top: 10%;
    width: 600px;
}
.infos_t2{
    text-align: right;
    font-size: 30px;
}
.infos_p2{
    text-align: right;
    font-size: 20px;
}
#loja{
    font-size: 15px;
    background: linear-gradient(to right, black, gold);
    border-radius: 15px;
    padding: 10px 20px;
    border: none;
    display: inline-block;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 1px 3px 5px  gold;
    transition: transform 0.2s ease-in-out;
}
#loja:hover{
    transform: scale(1.05);
    box-shadow: 1px 5px 5px  gold;
}

/* celulares */
@media (max-width: 600px) {

#section0{
    padding-top: 50%;
    text-align: center;
}
#mtl{
    font-size: 70px;
}
#frase{
    font-style: italic;
    font-size: 17px;
}
.infos{
    margin-left: 10%;
    margin-top: 20%;
    width: 300px;
}
.infos_t{
    font-size: 25px;
}
.infos_p{
    font-size: 15px;
}
.infos2{
    text-align: right;
    margin-left: 10%;
    margin-top: 10%;
    width: 300px;
}
.infos_t2{
    text-align: right;
    font-size: 25px;
}
.infos_p2{
    text-align: right;
    font-size: 15px;
}
#loja{
    margin-top: 20px;
    font-size: 10px;
    background: linear-gradient(to right, black, gold);
    border-radius: 15px;
    padding: 10px 20px;
    border: none;
    display: inline-block;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 1px 3px 5px  gold;
    transition: transform 0.2s ease-in-out;
}
#loja:hover{
    transform: scale(1.05);
    box-shadow: 1px 5px 5px  gold;
}

}
