.sect{
    margin-left: auto;
    margin-right: auto;
    padding-top: 250px;
    width: 600px;
    text-align: center;
}
.sect strong{
    font-size: 75px
}
.sect p{
    margin-top: 50px;
    font-size: 20px;
}
.sect button{
    margin-top: 40px;
    text-align: center;
    background: linear-gradient(to right, black, gold);
    border-radius: 15px;
    border: none;
    padding: 10px 20px;
    width: 150px;
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: 1px 3px 5px  gold;
    transition: transform 0.2s ease-in-out;
}
.sect button:hover{
    transform: scale(1.05);
    box-shadow: 1px 5px 5px  gold;
}
/*celulares*/
@media (max-width: 600px) {

    .sect{
    margin-left: auto;
    margin-right: auto;
    padding-top: 190px;
    width: 300px;
    text-align: center;
}

.sect strong{
    font-size: 30px
}

}